@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Text+Me+One');
@import url('https://fonts.googleapis.com/css?family=Lato');
.wrapper {
  max-width: 1400px;
  padding-left: 115px;
  padding-right: 115px;
  margin: 0 auto;
}
@media screen and (max-width: 980px) {
  .wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media screen and (max-width: 640px) {
  .wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media screen and (max-width: 320px) {
  .wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }
}
* {
  box-sizing: border-box;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato', sans-serif;
  text-align: justify;
}
.header {
  height: auto;
  position: relative;
  z-index: 100;
}
.header img {
  width: 100%;
  height: inherit;
}
.header-logo-bigrect {
  width: 200px;
  height: 42px;
  border: 2px solid #ff0036;
  border-top: none;
  border-bottom: none;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 25px;
}
.header-logo-bigrect a {
  font-family: 'Text Me One', sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}
.header-logo-rectcont {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 180px;
  height: 63px;
}
.header-logo-lefttr {
  height: 120%;
  margin-top: -10px;
  border-left: 2px solid #ff0036;
  transform: rotate(-40deg);
  margin-left: 24px;
  background-color: #131313;
}
.header-logo-righttr {
  border-right: 2px solid #ff0036;
  transform: rotate(40deg);
  height: 120%;
  margin-top: -10px;
  margin-right: 4px;
  background-color: #131313;
}
.header-logo-rect {
  width: 102px;
  height: 60px;
  border-bottom: 2px solid #ff0036;
  padding-top: -30px;
}
.header-menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 70px;
  z-index: 103;
}
.header-menu-logo {
  width: 200px;
  height: 102px;
  font-family: 'Text Me One', sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: #fff;
}
.header-menu-main ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  min-height: 70px;
  background: #08080c;
}
.header-menu-main ul li {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  margin-left: 25px;
  min-height: 70px;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}
.header-menu-main ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #a4a4a4;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  transition: color 300ms ease-in;
}
.header-menu-main ul li a:hover {
  color: #ff0036;
}
.header-menu .current-menu-item .header-menu-active {
  width: 25px;
  height: 3px;
  background: #ff0036;
}
.header-txt {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  left: 0;
  top: 240px;
  width: 100%;
  min-height: 240px;
  z-index: 101;
}
.header-txt-title {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.1rem;
}
.header-txt-title span {
  color: #ff0036;
}
.header-txt-text {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-align: center;
}
.header-txt-btns button {
  width: 170px;
  height: 50px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  color: #fff;
  transition: border 300ms ease-in;
}
.header-txt-btns button:hover {
  border: 2px solid #fff;
}
.header-txt-btn1 {
  background-color: #ff0036;
  margin-right: 15px;
}
.header-txt-btn2 {
  background-color: #131313;
  margin-left: 15px;
}
.about {
  min-height: 1175px;
  background: #fff;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.about h2 {
  margin-top: 105px;
  margin-bottom: 55px;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #262626;
  letter-spacing: 0.1rem;
}
.about h2 span {
  color: #ff0036;
}
.about h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  font-family: 'Lato', sans-serif;
  margin-bottom: 100px;
}
.about h3 span {
  color: #ff0036;
}
.about-content {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
}
.about-txt {
  box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  width: calc(50% - 30px);
}
.about-txt p {
  color: #505050;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 40px;
}
.about-quests .active {
  color: #ff0036;
}
.about-quests-quest {
  width: 100%;
  height: 45px;
  background-color: #f7f7f7;
  border: 1px solid #e7e7e7;
  margin-bottom: 10px;
  color: #262626;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 500;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}
.about-quests-quest:hover {
  color: #ff0036;
}
.about-quests-quest i {
  margin-right: 40px;
  margin-left: 15px;
}
.about-quests-answer {
  display: none;
  margin-left: 15px;
}
.about-pics {
  box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  width: calc(50% - 30px);
}
.about-bar {
  width: 100%;
  height: 210px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.about-bar-line {
  width: 50%;
  height: 1px;
  background-color: #262626;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.about-items {
  min-height: 310px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.about-items-item {
  box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  width: calc(25% - 30px);
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}
.about-items-item span {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 30px;
}
.about-items-item p {
  font-size: 14px;
  text-align: center;
}
.about-items-item img {
  margin-bottom: 35px;
}
